.hero-bg-image {
  mask-image: linear-gradient(black 80%,transparent);
}

.degradado {
  background: rgb(1, 10, 26);
  background: linear-gradient(
    180deg,
    rgba(1, 10, 26, 1) 0%,
    rgba(3, 50, 128, 1) 28%,
    rgba(2, 39, 101, 1) 70%,
    rgba(255, 255, 255, 1) 91%
  );
}
