@import "tailwindcss";
@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    /* border:2px red solid */
  }
}
@theme {
  --color-primary: #033280;
  --color-primary-light: #1452b6;
  --color-text-white: #ffffff;
  --color-secondary: #eeb935
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Bold.otf') format('opentype');
  font-weight: bold;
}



